.category-card {
	width: 17vw; 
	height: 17vw;
}

.border-round {
	border-radius: 6px;
}

.img_wrapper:hover {
	transition: .25s;
	cursor: pointer;
	opacity: 0.9;
}

.icon-edit:hover {
	transition: .15s;
	cursor: pointer;
	opacity: 1!important;
}

.icon-delete:hover {
	transition: .15s;
	cursor: pointer;
	opacity: 1!important;
}

.img_wrapper:not(hover) {
	transition: .25s;
}

.category-card-text {
	padding: 20px 0; 
	color: #F5F4F5; 
	font-size: 1.2rem; 
	font-weight: 450; 
	font-family: 'Roboto Slab', serif;
}

hr {
    margin: 15px 20px 0 20px;
	padding: 0;
	height: 0;
	border: none;
	height: 2px;
	background: #bababa;
}

.img-logo {
	width: 250px; 
	height: 100px;
}

.header-menu-h1-text {
	font-size: 1rem !important; 
	font-weight: 700; 
	min-height: 60px !important; 
	text-shadow: black 0 0 2px;
}

.header-footer-work-text {
	text-align: right; 
	color: #F5F4F5;  
	font-weight: 500;
}

.size-1 {
	font-size: 1.2rem;
}

.size-2 {
	font-size: 1rem;
}

.footer-menu-text {
	text-align: center; 
	color: #F5F4F5; 
	font-size: 1.2rem; 
	font-weight: 500;
}

@media (max-width: 1000px) {
	.img-logo {
		width: 200px; 
		height: 80px;
	}
	.category-card-text {
		padding: 15px 0; 
	}
	.header-menu-h1-text {
		font-size: .8rem !important; 
	}
	.size-1 {
		font-size: 1rem;
	}

	.size-2 {
		font-size: .9rem;
	}
}