.category-card {
	width: 17vw; 
	height: 17vw;
}

.border-round {
	border-radius: 6px;
}

.img_wrapper:hover {
	transition: .25s;
	cursor: pointer;
	opacity: 0.9;
}

.img_wrapper:not(hover) {
	transition: .25s;
}

.category-card-name {
	padding: 20px 0; 
	color: #F5F4F5; 
	font-size: 1.2rem; 
	font-weight: 450; 
	font-family: 'Roboto Slab', serif;
}

hr {
    margin: 15px 20px 0 20px;
	padding: 0;
	height: 0;
	border: none;
	height: 2px;
	background: #bababa;
}

.img-logo {
	width: 250px; 
	height: 100px;
}



@media (max-width: 1000px) {
	.img-logo {
		width: 200px; 
		height: 80px;
	}
}